*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
}

button{
  margin: 20px;
  padding: 20px;
  background-color: crimson;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  color: gold;
}

.num{
  margin: 10px;
  padding: 10px;
  border: 2px solid #dcf901;
  background-color: crimson;
  color: gold;
  height: auto;
  width: 20%;
  font-size: 100px;
  text-align: center;
  border-radius: 10px;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}